
@media only screen and (max-width: 390px) {

    body {
        font-size: 16px; 
    }
    form, fieldset {
        padding: 0;
        margin: 0;
        width: 390px;
        /* color: red; */
        display: flex;
        flex-direction: column;
    }

    .top-btn-ctn {
        display: flex;
        height: 80px;
        width: 100%;
    }

    hr {
        width: 390px;
    }

    .sec-title {
        display: none;
    }

    .center {
        margin: 0 auto;
    }

    #next-button, #prv-btn {
        width: 130px;
    }

    #save {
        width: 100%;
        padding: 5px;
    }
    .title-container {
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #F7F7F7;
        display: flex;
        width: 100%;
        /* border: 2px solid orange; */
        align-items: baseline;
        padding-bottom: 30px;
        /* margin-bottom: 30px !important; */
        /* justify-content: space-around; */
    }

    .back-button, .back-button:hover, .back-button:active {
        width: 5px;
        height: 5px;
        background-color: #F7F7F7;
        margin: 0;
    }

    .back-button p {
        margin: 0;
        /* border: 2px solid orange; */
        /* marg */
    }
    .input-row {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    #illustration {
      width: 268px;
      height: auto;
      margin: 40px 0;
    }

    .input-div {
        width: 360px !important;
    }

    h3 {
        font-size: 16px;
    }
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
    }

    .prv-btn-ctn {
        position: absolute;
        top: -20px;
        left: 0;
    }
    
    .btn-div {
        display: flex;
        width: 380px !important;
    }

    #drop_zone {
        width: 100%;
    }

    input[type='radio'] {
        width: 10px !important;
    }

    button {
        width: 360px;
        margin: 16px;
    }

    .btn-ctn {
        width: 390px ;
        display: flex;
        justify-content: space-around;
        margin-top: 97px;
        margin-bottom: 63px;
    }

    #prv-btn {
        color: #62A1EB;
        background-color: #FFFF;
        position: static ;
        margin: 0;
        padding: 10px;
    }



    input, select {
        width: 358px !important;
    }

    .input {
        width: 390px;
    }

    #save {
        margin: 0 ;
        padding: 10px ;
    }

    .laptop-container {
        width: 100%;
        margin: 0;
    }

    .laptop {
        gap: 15px;
    }

    .first-section, .sec-section, .third-section {
        flex-direction: column;
    }

    #laptop-img {
        width: 100%;
        height: auto;
    }

    hr {
        width: 100%;
    }
  }
  