

h3 {
    margin: 0 auto;
}

.laptop {
    background-color: #EAFAFF;
    border: 1px solid #AED1EA;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    width: 560px;
    align-items: center;
    height: 205px;
    justify-content: flex-end;
    gap: 30px;
}

.bold {
    font-size: 18px;
}

.laptop-container {
    display: flex;
    max-width: 1180px;
    gap: 60px;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
}

.laptop-image {
    width: 260px;
    height: 170px;
    margin-left: 10px;
    border-radius: 10px;
}


h4 {
    margin-top: 0;
    margin-bottom: 14px;
}

h5 {
    margin-bottom: 40px;
}

.laptop-info {
    display: none;
}