.laptop-info {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    width: 80vw !important;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}


.first-section, .sec-section, .third-section {
    display: flex;
    justify-content: space-between;
}


#laptop-img {
    height: 342px;
    width: 577px;
}

p {
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 22px;
}

.bold {
    font-weight: 500;
    font-family: 'Helvetica Neue';
    font-style: normal;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.cont-row {
    display: flex;
    align-content: center;
    gap: 60px;
    justify-content: space-between;
}


hr {
    width: 100%;
}